{
    "openapi": "3.0.0",
    "info": {
        "title": "Test task API Documentation",
        "description": "Test task API Documentation Description",
        "contact": {
            "name": "Swagger API Team"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://task.firscoders.shop/api/",
            "description": "Global API server"
        },
        {
            "url": "http://test-task.loc/api/",
            "description": "Local API server"
        }
    ],
    "paths": {
        "/v1/login": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User login",
                "description": "User login api.",
                "operationId": "authLogin",
                "parameters": [
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "User's phone number",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "+998912223344"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "User's password",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "user12345"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!"
                    },
                    "422": {
                        "description": "Validation error!"
                    },
                    "401": {
                        "description": "Unauthorized!"
                    }
                }
            }
        },
        "/v1/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "summary": "User logout",
                "description": "User logout.",
                "operationId": "userLogout",
                "responses": {
                    "200": {
                        "description": "Success!"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/clients": {
            "get": {
                "tags": [
                    "Clients Routes"
                ],
                "summary": "Clients list",
                "description": "Clients list.",
                "operationId": "clientsList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "1"
                    },
                    {
                        "name": "perpage",
                        "in": "query",
                        "description": "Per page number",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Clients Routes"
                ],
                "summary": "Client create",
                "description": "Client create.",
                "operationId": "clientCreate",
                "parameters": [
                    {
                        "name": "full_name",
                        "in": "query",
                        "description": "Client full name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Your Name"
                    },
                    {
                        "name": "birth_date",
                        "in": "query",
                        "description": "Birthday date",
                        "required": false,
                        "schema": {
                            "type": "date"
                        },
                        "example": "2010-01-01"
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "Gender (0-ayol; 1-erkak)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "0",
                                "1"
                            ]
                        },
                        "example": "Erkak"
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Phone number",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "+998991234567"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email address",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "example@gmail.com"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Password",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "YourePassword"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/clients/{client_id}": {
            "get": {
                "tags": [
                    "Clients Routes"
                ],
                "summary": "Client show",
                "description": "Client show.",
                "operationId": "clientShow",
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "path",
                        "description": "Client id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "2"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Client not found!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Clients Routes"
                ],
                "summary": "Client update",
                "description": "Client update.",
                "operationId": "clientUpdate",
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "path",
                        "description": "Client id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "2"
                    },
                    {
                        "name": "full_name",
                        "in": "query",
                        "description": "Client full name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Your Name"
                    },
                    {
                        "name": "birth_date",
                        "in": "query",
                        "description": "Birthday date",
                        "required": false,
                        "schema": {
                            "type": "date"
                        },
                        "example": "2010-01-01"
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "description": "Gender (0-ayol; 1-erkak)",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "0",
                                "1"
                            ]
                        },
                        "example": "Erkak"
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "Phone number",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "+998991234567"
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "description": "Email address",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "example@gmail.com"
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "description": "Password",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "YourePassword"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Clients Routes"
                ],
                "summary": "Client delete",
                "description": "Client edit info.",
                "operationId": "clientDelete",
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "path",
                        "description": "Client id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "143"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Client not found!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "500": {
                        "description": "Delete error!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/clients/{client_id}/edit": {
            "get": {
                "tags": [
                    "Clients Routes"
                ],
                "summary": "Client edit info",
                "description": "Client edit info.",
                "operationId": "clientEdit",
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "path",
                        "description": "Client id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "143"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/orders": {
            "get": {
                "tags": [
                    "Order Routes"
                ],
                "summary": "Orders list",
                "description": "Orders list.",
                "operationId": "ordersList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "1"
                    },
                    {
                        "name": "perpage",
                        "in": "query",
                        "description": "Per page number",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Order Routes"
                ],
                "summary": "Order add",
                "description": "Order add.",
                "operationId": "OrderCreate",
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "query",
                        "description": "Product id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "3"
                    },
                    {
                        "name": "warehouse_id",
                        "in": "query",
                        "description": "Warehouse id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "2"
                    },
                    {
                        "name": "quantity",
                        "in": "query",
                        "description": "Quantity",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "43"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/orders/{order_id}": {
            "get": {
                "tags": [
                    "Order Routes"
                ],
                "summary": "Order show",
                "description": "Order show.",
                "operationId": "orderShow",
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "path",
                        "description": "Order id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "2"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Order not found!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Order Routes"
                ],
                "summary": "Order update",
                "description": "Order update.",
                "operationId": "orderUpdate",
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "path",
                        "description": "Order id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "4"
                    },
                    {
                        "name": "quantity",
                        "in": "query",
                        "description": "Quantity",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "43"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Order Routes"
                ],
                "summary": "Order delete",
                "description": "Order delete.",
                "operationId": "orderDelete",
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "path",
                        "description": "Order id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "3"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Order not found!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "500": {
                        "description": "Delete error!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/orders/{order_id}/edit": {
            "get": {
                "tags": [
                    "Order Routes"
                ],
                "summary": "Order edit info",
                "description": "Order edit info.",
                "operationId": "orderEdit",
                "parameters": [
                    {
                        "name": "order_id",
                        "in": "path",
                        "description": "Order id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "2"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/products": {
            "get": {
                "tags": [
                    "Products Routes"
                ],
                "summary": "Products list",
                "description": "Products list.",
                "operationId": "productsList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "1"
                    },
                    {
                        "name": "perpage",
                        "in": "query",
                        "description": "Per page number",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Products Routes"
                ],
                "summary": "Product add",
                "description": "Product add.",
                "operationId": "productCreate",
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Product name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Product Name"
                    },
                    {
                        "name": "amount",
                        "in": "query",
                        "description": "Product price",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "130000"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/products/{product_id}": {
            "get": {
                "tags": [
                    "Products Routes"
                ],
                "summary": "Product show",
                "description": "Product show.",
                "operationId": "productShow",
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "path",
                        "description": "Product id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "2"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Product not found!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Products Routes"
                ],
                "summary": "Product update",
                "description": "Product update.",
                "operationId": "productUpdate",
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "path",
                        "description": "Product id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "143"
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Product title",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "New Product Name"
                    },
                    {
                        "name": "amount",
                        "in": "query",
                        "description": "New Product price",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "132000"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Products Routes"
                ],
                "summary": "Product delete",
                "description": "Product edit info.",
                "operationId": "productDelete",
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "path",
                        "description": "Product id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "143"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Product not found!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "500": {
                        "description": "Delete error!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/products/{product_id}/edit": {
            "get": {
                "tags": [
                    "Products Routes"
                ],
                "summary": "Product edit info",
                "description": "Product edit info.",
                "operationId": "productEdit",
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "path",
                        "description": "Product id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "2"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/product-warehouses": {
            "get": {
                "tags": [
                    "Product Warehouses Routes"
                ],
                "summary": "Product Warehouses list",
                "description": "Product warehouses list.",
                "operationId": "productWarehousesList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "1"
                    },
                    {
                        "name": "perpage",
                        "in": "query",
                        "description": "Per page number",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Product Warehouses Routes"
                ],
                "summary": "Product Warehouse add",
                "description": "Warehouse add.",
                "operationId": "productWarehousesCreate",
                "parameters": [
                    {
                        "name": "product_id",
                        "in": "query",
                        "description": "Product id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "3"
                    },
                    {
                        "name": "warehouse_id",
                        "in": "query",
                        "description": "Warehouse id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "2"
                    },
                    {
                        "name": "quantity",
                        "in": "query",
                        "description": "Quantity",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "43"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/product-warehouses/{product_warehouse_id}": {
            "get": {
                "tags": [
                    "Product Warehouses Routes"
                ],
                "summary": "Product Warehouse show",
                "description": "Product Warehouse show.",
                "operationId": "productWarehousesshow",
                "parameters": [
                    {
                        "name": "product_warehouse_id",
                        "in": "path",
                        "description": "Product Warehouse id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "2"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Product Warehouse not found!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Product Warehouses Routes"
                ],
                "summary": "Product Warehouse update",
                "description": "Product Warehouse update.",
                "operationId": "productWarehousesUpdate",
                "parameters": [
                    {
                        "name": "product_warehouse_id",
                        "in": "path",
                        "description": "Product Warehouse id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "143"
                    },
                    {
                        "name": "quantity",
                        "in": "query",
                        "description": "Quantity",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "43"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Product Warehouses Routes"
                ],
                "summary": "Product Warehouse delete",
                "description": "Warehouse delete.",
                "operationId": "productWarehousesDelete",
                "parameters": [
                    {
                        "name": "product_warehouse_id",
                        "in": "path",
                        "description": "Product Warehouse id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "3"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Product Warehouse not found!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "500": {
                        "description": "Delete error!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/product-warehouses/{product_warehouse_id}/edit": {
            "get": {
                "tags": [
                    "Product Warehouses Routes"
                ],
                "summary": "Product Warehouse edit info",
                "description": "Product Warehouse edit info.",
                "operationId": "productWarehousesEdit",
                "parameters": [
                    {
                        "name": "product_warehouse_id",
                        "in": "path",
                        "description": "Product Warehouse id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "2"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/warehouses": {
            "get": {
                "tags": [
                    "Warehouses Routes"
                ],
                "summary": "Warehouses list",
                "description": "Warehouses list.",
                "operationId": "warehousesList",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "1"
                    },
                    {
                        "name": "perpage",
                        "in": "query",
                        "description": "Per page number",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "15"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Warehouses Routes"
                ],
                "summary": "Warehouse add",
                "description": "Warehouse add.",
                "operationId": "warehouseCreate",
                "parameters": [
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Warehouse name",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Warehouse Name"
                    },
                    {
                        "name": "is_active",
                        "in": "query",
                        "description": "Status (0-passive; 1-active)",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                "0",
                                "1"
                            ]
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/warehouses/{warehouse_id}": {
            "get": {
                "tags": [
                    "Warehouses Routes"
                ],
                "summary": "Warehouse show",
                "description": "Warehouse show.",
                "operationId": "warehouseshow",
                "parameters": [
                    {
                        "name": "warehouse_id",
                        "in": "path",
                        "description": "Warehouse id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "2"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Warehouse not found!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Warehouses Routes"
                ],
                "summary": "Warehouse update",
                "description": "Warehouse update.",
                "operationId": "warehouseUpdate",
                "parameters": [
                    {
                        "name": "warehouse_id",
                        "in": "path",
                        "description": "Warehouse id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "143"
                    },
                    {
                        "name": "title",
                        "in": "query",
                        "description": "Warehouse title",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "New Product Name"
                    },
                    {
                        "name": "is_active",
                        "in": "query",
                        "description": "Status (0-passive; 1-active)",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                "0",
                                "1"
                            ]
                        },
                        "example": "1"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Warehouses Routes"
                ],
                "summary": "Warehouse delete",
                "description": "Warehouse delete.",
                "operationId": "warehouseDelete",
                "parameters": [
                    {
                        "name": "warehouse_id",
                        "in": "path",
                        "description": "Warehouse id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "143"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Warehouse not found!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "500": {
                        "description": "Delete error!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v1/warehouses/{warehouse_id}/edit": {
            "get": {
                "tags": [
                    "Warehouses Routes"
                ],
                "summary": "Warehouse edit info",
                "description": "Warehouse edit info.",
                "operationId": "warehouseEdit",
                "parameters": [
                    {
                        "name": "warehouse_id",
                        "in": "path",
                        "description": "Warehouse id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        },
                        "example": "2"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success!",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    }
}